@use '../../../styles/settings';

.iconWrapper {

    &__icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 10px;
        background-color: #FFFFFF; // Couleur par défaut
    
        // Styles dynamiques avec des variables CSS
        width: var(--size, 64px);
        height: var(--size, 64px);
        background-color: var(--bg-color, #FFFFFF);
        border-radius: var(--radius, 10px);
    }

    &__icon {
        width: 70%; // permet de modifier la taille de l'icône de la sideBar
        height: 70%;
        pointer-events: auto; // permet aux événements comme le clic de passer
    }

    &__icon-nutri {
        width: 35%; // permet de modifier la taille de l'icône des nutriCard
        height: 35%;
        pointer-events: auto; // permet aux événements comme le clic de passer
    }

}