.userFirstName {

    &__h1 {
        margin-top: 0px;
        margin-bottom: 41px;
        color: #000;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    }

    &__span {
        color: #FF0101;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    }

    &__p {
        margin-top: 0px;
        margin-bottom: 77px;
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }


}