.footer {
  background-color: black;
  margin-top: 224px;

  &__p {
    margin: 0;
    transform: rotate(-90deg);
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    line-height: 24px;
    font-style: normal;
    color: #fff
  }
}