@use '../../styles/settings';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: settings.$black;
    color: settings.$secondary-color;
    //margin: 0 auto;
    padding: 2rem;
    padding-top: 0px;
    text-align: center;
    //margin-left: 40px;
    //margin-right: 40px;
    padding-bottom: 0px;
    height: 91px;
    //max-width: 1440px;
    width: 1440px;

    //padding-left: 29px;
    //padding-right: 91px;
    box-sizing: border-box;

    /*
    @media (max-width: settings.$breakpoint-tablet) {
        margin: 0 auto;
        padding: 0;
        //width: 90%
    } */

    &__logoHeader {
        height: 68px;
        width: 170px;
        //margin-bottom: 50px;

        // Supprime le margin-bottom si noMargin est passé
        &--noMargin {
        margin-bottom: 0;
        }

        /*
        @media (max-width: settings.$breakpoint-tablet) {
            width: 130px;
            margin-bottom: 0px;
        } */
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        margin-right: 60px;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 219px;
        margin: 0;
        padding: 0;
        
        /*
        @media (max-width: settings.$breakpoint-tablet) {
           gap: 26px;
        } */
    }

    &__item {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: settings.$secondary-color;
        transition: color 0.3s;
        font-size: 24px;

        &:hover {
            color: red;
        }

        &--active {
            border-bottom: 1px solid settings.$secondary-color;
        }
        /*
        @media (max-width: settings.$breakpoint-tablet) {
            font-size: settings.$font-size-h6;
            text-transform: uppercase;
            margin-left: 0px;
        } */
    }
}