@use '../../styles/settings';

.homePage {
  &__homeContainer {
    padding: 4rem 2rem;
    text-align: center;
  }
  
  &__homeTitle {
    font-size: 2.5rem;
    font-weight: settings.$font-weight-bold;;
  }
    
  &__homeSubtitle {
    /* font-size: 1.2rem; */
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: #555;
  }
    
  &__homeButtons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
    
  &__homeBtn {
    padding: 1rem 2rem;
    background: #ff0000;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;

    &:hover {
      background: #cc0000 !important;
      filter: none !important; 
      transform: translateY(-3px);
    }
  }    
}
