@use '../../styles/settings';

.homePage {
  &__home-container {
    padding: 4rem 2rem;
    text-align: center;
  }
  
  &__home-title {
    font-size: 2.5rem;
    font-weight: settings.$font-weight-bold;;
  }
    
  &__home-subtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #555;
  }
    
  &__home-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
    
  &__home-btn {
    padding: 1rem 2rem;
    background: #ff0000;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;

    &:hover {
      background: #cc0000;
      transform: translateY(-3px);
    }
  }    
}
